/*スマホ向けレイアウト*/
@media (max-width: 375px) {
  .top-wrapper {
    height: 800px;
    width: 100%;
    padding-bottom: 50px;
  }
.container h2 {
  font-size: 50px;
}
.introduce-wrapper {
  height: 3100px;
  padding-top:50px;
  width: 100%;
}
  .member {
    width: 100%;
  }
  .message-wrapper h2 {
    text-align: center;
    font-size: 45px;
    margin-top: 50px;
  }
  .btn {
    width: 100%;
  }
  .facebook {
    margin-bottom: 10px;
  }
  .button {
    font-size: 10px;
    width: 50%;
    margin-top: 50px;
  }
}
