/*スマホ向けレイアウト*/
@media (max-width: 670px) {
  .top-wrapper {
    height: 900px;
  }
.container h2 {
  font-size: 40px;
}

  .member {
    width: 100%;
  }
  .message-wrapper h2 {
    text-align: center;
    font-size: 2px;
  }
  .btn {
    width: 100%;
  }
  .facebook {
    margin-bottom: 10px;
  }
  .button {
    font-size: 80px;
    width: 100%;
  }
}
