/*スマホ向けレイアウト*/
@media (max-width: 670px) {
  .member {
    width: 100%;
  }
  .message-wrapper {
    text-align: center;
    font-size: 2px;
  }
  .btn {
    width: 100%;
  }
  .facebook {
    margin-bottom: 10px;
  }
}
