.title {
  color: #02ccba;
}
header {
  background-color: #333333;
  height: 70px;
  width: 100%;
}
.header-left {
  float: left;
}
.logo {
  width: 70px;
  height: 40px;
  padding: 10px;
}
.header-right {
  float: right;
  margin-right: 20px;
}
.login {
  color: white;
  background-color: #888888;
  line-height: 70px;
  padding: 10px 10px;
  transition: all 1s;
}
.login:hover {
  background-color: #cccccc;
}
.top-wrapper {
  height: 700px;
  widht: 100%;
  background-image: url(https://github.com/kashinotti/kashinotti.github.io/blob/master/IMG_0850.JPG?raw=true);
  background-size: cover;
  opacity: 0.8;
  padding-top: 30px;
}
.container {
  text-align: center;
  color: white;
  opacity: 0.9;
}
.container h2 {
  font-size: 65px
}
.container p {
  font-size: 25px;
}
.btn-wrapper p {
  padding-top: 10px;
  color: white;
  font-size: 25px;
}
.btn-wrapper {
  text-align: center;
  opacity: 0.9;
}
.facebook:hover {
  background-color: white;
}
.twitter:hover {
  background-color: white;
}
.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}
.twitter {
  background-color: #55acee;
}
.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  border-radius: 4px;
}
.introduce-wrapper {
  height: 800px;
  background-color: #f7f7f7;
  text-align: center;
  padding-bottom: 40px;
}
.heading {
  color: black;
}
.member-icon {
  padding-top:30px;
}
.member-icon img {
  width: 250px;
  height: 250px;
}
.member-icon p {
  color: black;
}
.text-contents {
  font-size: 1px;
  color: black;
  display: inline-block;
  width: 80%;
  margin-top: 20px;
}
.member {
  float:left;
  width: 25%;
}
.message-wrapper {
  color: black;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 90px;
}
.heading h2 {
  font-weight: normal;
}
.button {
  background-color: #5dca88;
  padding: 15px 40px;
  display: inline-block;
  box-shadow: 0 7px #1a7940;
  cursor: pointer;
}
.button:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}
.clear {
  clear: left;
}
